$fontFamilyL: 'Lato', sans-serif;
$fontFamilyM: 'Montserrat', sans-serif;
$violetColor: #8D81AC;
$whitecolor: #FFFFFF;
$editorSubtitle-color: #848E97;
$editorTitle-color: #635C73;
$editorText-color: #323232;
$result-background: #F4F4F4;

